.home-wrapper {
  background-image: url("//przpvntfi.bkt.clouddn.com/image/home_page.jpg");
  background-size: auto 100%;
  width: 100%;
  height: 600px;

}

.home-wrapper .header-wrapper {
  width: 100%;
  height: 60px;
  position: relative;
  left: 0;
  top: 0;
  border-bottom: 1px solid #2c3e50;
  background-color: white;
}

.home-wrapper .header-wrapper .menu {
  float: left;
  height: 100%;
  width: 100px;
  font-size: 18px;
}

.home-wrapper .header-wrapper .menu img {
  margin: 15px 5px;
  height: 28px;
  width: 28px;
  float: left;
  cursor: pointer;
}

.home-wrapper .header-wrapper .menu img.close {
  transform:rotate(90deg);
  transition: 0.3s;
}

.home-wrapper .header-wrapper .menu img.open {
  transform:rotate(0deg);
  transition: 0.3s;
}

.home-wrapper .header-wrapper .menu span {
  float: left;
  line-height: 60px;
  cursor: pointer;
}

.home-wrapper .header-wrapper .exit {
  float: right;
  height: 100%;
  width: 50%;
  font-size: 18px;
  padding: 0 10px;
}

.home-wrapper .header-wrapper .exit img {
  margin: 15px 7px;
  height: 24px;
  width: 24px;
  float: right;
  cursor: pointer;
}

.home-wrapper .header-wrapper .exit span {
  float: right;
  line-height: 60px;
  font-size: 14px;
  margin-right: 10px;
}

.home-wrapper .menu-wrapper {
  height: calc(100% - 60px);
  width: 160px;
  position: relative;
  left: 0;
  top: 0;
  background-color: #304156;
  overflow-y: auto;
}

.home-wrapper .menu-wrapper.open {
  left: 0;
  transition: 0.3s;
}

.home-wrapper .menu-wrapper.close {
  left: -120px;
  transition: 0.3s;
}

.home-wrapper .menu-wrapper vue-scroll {
  width: 100%;
  height: 100%;
  border-spacing: 0;
}

.td-d {
  color: rgb(191, 203, 217);
  width: 100%;
  height: 45px;
  max-height: 45px;
  overflow: hidden;
  transition: max-height .8s;
}

.td-d.open {
  height: auto;
  max-height: 888px;
}

.td-d .parent,
.td-d .children .child {
  color: rgb(191, 203, 217);
  width: calc(100% - 15px);
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 15px;
  cursor: pointer;
}

.td-d .parent:hover,
.td-d .children .child:hover {
  background-color: #001528;
  transition: 0.6s;
}

.td-d .parent.choose {
  color: rgb(64, 158, 255);
  background-color: rgba(30, 45, 60, 1);
  transition: 0.1s;
}

.td-d .parent .icon,
.td-d .children .child .icon {
  height: 20px;
  width: 20px;
  margin-top: -2px;
  margin-right: 10px;
  transition: 0.3s;
}

.td-d .parent .icon.close,
.td-d .children .child .icon.close {
  margin-left: 115px;
  transition: 0.3s;
}

.td-d .parent span,
.td-d .children .child span {
  opacity:1;
  transition: 0.4s;
}

.td-d .parent span.close,
.td-d .children .child span.close {
  opacity:0;
  position: absolute;
  transition: 0s;
}

.td-d .children {
  color: rgb(191, 203, 217);
  width: 100%;
  height: auto;
  align-items: center;
}

.td-d .children .child {
  width: calc(100% - 30px);
  height: 45px;
  padding-left: 30px;
  background-color: #1f2d3d;
}

.td-d .children .child .icon {
   height: 18px;
   width: 18px;
   margin-top: -1px;
   margin-right: 10px;
   transition: 0.3s;
 }

