.inputDiv {
  margin-top: 10px;
}
.loginBtn {
  background-color: gray;
  color: white;
  font-size: 14px;
  margin-top: 10px;
  width: 100px;
}
.forgetDiv {
  width: 200px;
  margin: auto;
  padding-top: 10px;
}
.forgetSpan {
  font-size: 12px;
  float: right;
  cursor: pointer;
}
