.login-bg {
  width: 100%;
  height: 1000px;
  -webkit-filter: blur(15px);
  filter: blur(15px);
  background-image: url("//fcloud.duoke.co/image/home_page.jpg");
}
.login-wrapper {
  position: absolute;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 30px 60px;
  border-radius: 5px;
  top:-100%;
  left:50%;
  -webkit-transform: translate(-50%,-100%);
  -moz-transform: translate(-50%,-100%);
  transform:translate(-50%,-100%);
}
.login-wrapper.load {
  top:50%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  transform:translate(-50%,-50%);
  animation: bounce-in .5s;
}
@keyframes bounce-in {
  0% {
    top:-100%;
    -webkit-transform: translate(-50%,-100%);
    -moz-transform: translate(-50%,-100%);
    transform:translate(-50%,-100%);
  }
  50% {
    top:60%;
    -webkit-transform: translate(-50%,-60%);
    -moz-transform: translate(-50%,-60%);
    transform:translate(-50%,-60%);
  }
  100% {
    top:50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    transform:translate(-50%,-50%);
  }
}

.input-div {
  margin-top: 18px;
}

.input-div input {
  height: 20px;
  font-size: 14px;
  width: 125px;
}

.login-btn {
  background-color: gray;
  color: white;
  font-size: 14px;
  margin-top: 20px;
  width: 108px;
}
.forget-div {
  width: 200px;
  margin: auto;
  padding-top: 10px;
}
.forget-span {
  font-size: 12px;
  float: right;
  cursor: pointer;
}

.course-banner-box {
  position: absolute;
  width: 100%;
  height: 560px;
  top:50%;
  -webkit-transform: translate(0,-50%);
  -moz-transform: translate(0,-50%);
  transform:translate(0,-50%);
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  background-size: auto 100%;
  background-position:center center;
}

.swiper-slide.slide1 {
  background-image: url("//fcloud.duoke.co/image/home_page.jpg");
}

.swiper-slide.slide2 {
  background-image: url("//fcloud.duoke.co/image/home_page2.jpg");
}

.swiper-slide.slide3 {
  background-image: url("//fcloud.duoke.co/image/home_page3.jpg");
}
